<main class="d-flex w-100">
    <div class="container d-flex flex-column mt-5">
        <div class="row vh-90">
            <div class="col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto d-table h-100">

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-3">
                            <form [formGroup]="attendanceData" (submit)="markAttendance()">
                                <div class="mb-3">
                                    <label class="form-label">Registration ID</label>
                                    <select class="form-control form-select" formControlName="id" aria-label="Default select example">
                                        <option *ngFor="let id of ids" [value]="id.id" selected>{{id.id + ' - ' + id.name}}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Date</label>
                                    <input class="form-control form-control-md" type="date" formControlName="date"
                                        placeholder="Select Date" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Status</label>
                                    <select class="form-control form-select" formControlName="status" aria-label="Default select example">
                                        <option selected>Select Status</option>
                                        <option value="1">Present</option>
                                        <option value="2">Absent</option>
                                    </select>
                                </div>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-md btn-primary">Mark Attendance</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>